body {
  background-color: #f2f2f2;
  color: #333333;          
  font-family: Arial, sans-serif; 
  margin: 0;                 
  line-height: 1.4;         
}
nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  justify-content: center;
}

nav a {
  color: #4a90e2;
  text-decoration: none;
  padding: 8px;
  display: inline-block;
}

nav a:hover {
  background-color:#e6f0fb;
  border-radius: 4px;
  outline: none;
}
th{
    font-style: italic;
    color: rgb(54, 32, 31);
    
}

.conteni{
    display: flex;
    justify-content: center;
    width: 85%;
    height: 36%;
    
}
table, th, td{
    border: 4px outset #c4dafa;
    border-collapse: collapse;
    width:auto;
    
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
     background-color: #c4dafa;
     font-size: 30px; 
     padding: 15px 0;
     margin-bottom: 30px;    
}
table {
  width: 50%;
  height: 100%;
}


