body {
  background-color: #f2f2f2; 
  color: #333333;            
  font-family: Arial, sans-serif;
  line-height: 1.4;
}
.contenido {
  display: flex;
  flex-wrap: wrap;     
  justify-content: center;
  gap: 20px;         

}
.video{
   width: 560px;
  height: 315px;
  border: 15px ridge #c4dafa;
}
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 15px;
  justify-content: center;
}

nav a {
  color: #4a90e2;
  text-decoration: none;
  padding:8px;
  display: inline-block;
}

nav a:hover{
  background-color: #e6f0fb;
  border-radius: 4px;
  outline: none;
}


h1{
    text-align: center;
     background-color: #c4dafa; 
}


    